graylog:
  web_port: 8080
  data_dir: /graylog-data
  es_memory: 4g
  password: password
  username: admin
  timezone: America/New_York
  smtp_server: server.example.com
  retention: --time=24 --indices=30
  secret: secret
  syslog_input_port: 514
  gelf_input_port: 12201
